* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  background-color: #DD5353;
  border: 1px solid #DD5353;
  color: #fff;
  font-size: 1.25em;
  position: fixed;
  height: 150px;
  z-index: 2;
}
.navbar-left, .navbar-right {
  display: flex;
  margin: 0 5vw;
}
.navbar-title {
  padding: 0.5% 0;
  padding-left: 2.5vw;
  font-size: 2em;
  background-color: #B73E3E;
  border: none;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 150px;
  height: 75px;
  display: flex;
  align-items: center;
  z-index: 2;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* gap: 5%; */
}
li {
  width: 175px;
  /* text-align: center; */
}
h2, h3 {
  /* color: #B73E3E; */
  color: white;
}
.hero {
  width: 100%;
  /* height: 90vh; */
  max-height: 972px;
  background-image: url(./img/hero.jpg);
  color: rgba(232, 230, 227, 0.87);
  min-height: 90vh;
  background-attachment: fixed;
  /* background-position: -175px -50px; */
  background-position: -175px -50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-text {
  position: relative;
  top: 30vh;
  left: 15%;
  font-size: 1.5em;
}
h1 {
  margin-bottom: 1%;
}
.hero-text > p {
  font-size: 1.25em;
  margin-bottom: 1%;
}
button {
  width: 7rem;
  height: 2rem;
  border-radius: 8px;
  background-color: #2C394B;
  color: white;
  border: 2px solid white;
}

.info {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  /* background-color: #DBC8AC; */
  background-color: #413F42;
}
.fa-1, .fa-2, .fa-3 {
  color: white;
  padding-top: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.info-top-text {
  font-size: 1.25em;
  margin-bottom: 3.5%;
}
.info-top-text > h2 {
  margin-bottom: 1%;
}
.info-top-text > p {
  color: #fff;
}
.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: 1.15em;
}
.steps > div {
  width: 25%;
  height: 20%;
  border: 1px solid #DD5353;;
  border-radius: 10px;
  padding: 3% 1%;
  background-color: #334756;
  color: white;
}
.steps > div > img {
  padding-top: 50px;
}
.steps > div > h3 {
  padding-bottom: 10%;
}

.rewards {
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  font-size: 2em;
  padding: 5% 0;
  background-color: #7F8487;
  color: #fff;
}
.points {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 1.5em;
}
.point {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.rewards-selection {
  transition: 0.2s;
}
.focused {
  border-bottom: 5px solid black;
}
.unfocused {
  opacity: 0.4;
}
.fa-star {
  color: #53DD53;
}
.noshow {
  display: none;
}

.content {
  /* height: 70vh; */
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 3% 0;
  background-image: url("./img/sushi-chef.jpg");
  background-position: 0 -300px;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 100px;
}
.content-c3 {
  font-size: 2em;
  color: white;
}
.content > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 0 5%;
  /* background-color: #000; */
}
.content > div > div {
  width: 27.5%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  color: white;
  padding: 0 2%;
  background-color: #413F42;
  border-radius: 30px;
}
.content > div > div > h4 {
  margin-bottom: 2.5%;
}

.qna {
  font-size: 1.5em;
  /* padding: 50px 0; */
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  color: white;
  height: 300px;
  background-color: #DD5353;
  border: 1px solid #DD5353;
}
.qna-left > h4 {
  margin: 2.5% 0;
}

.footer {
  background-color: #B73E3E;
  /* padding: 2.5% 0; */
  color: white;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* max-height: 5vh; */
  height: 100px;
  /* padding-bottom: 100px; */
  /* padding: 50px 0; */
}
.footer > div:hover {
  border-bottom: 1px solid white;
}